QWidget {
    color:white;
    font-family: "Segoe UI", "SF Pro Display", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}

QMainWindow {
    background-color: #1d1f29;
}
QMainWindow::separator {
    background: yellow;
    width: 10px;
    height: 10px;
}

QLabel#blockAppLabel, QLabel#hostLabel, QLabel#setDurLabel, QLabel#setEndLabel {
    color: white;
    font-weight: bold;
}

QFrame {
    background-color: transparent;
    border: none;
}

QLabel#hostFileDirectoryLabel {
    color: gray;
    font-style: italic;

    background-color: #1d1f29;
    border-radius: 5px;


    padding:5px;
}

QPushButton {
    padding: 10px;
    border-radius: 5px;
    background-color: #09ffffff;
    border: 1px solid #16ffffff;
    color: white;
}

QPushButton:disabled {
    color:gray;
}

QPushButton:hover {
    background-color: #18ffffff;
    border: 1px solid #36ffffff;
}

QProgressBar {
    border-radius: 5px;
    background-color: #09ffffff;
    border: 1px solid #16ffffff;

    text-align: center;
}

QProgressBar::chunk {
    border-radius: 5px;
    background-color: #f56006;
    width: 20px;
    margin: 0.5px;
}

QTimeEdit {
    padding:5px;
    background-color: #1d1f29;

    border-radius:5px;
    border: 1px solid #16ffffff;
}

QTimeEdit QAbstractItemView {
    color: white;
    background-color: #1d1f29;
}

QCheckBox {
    padding: 5px;
    color:white;
    spacing: 5px;
    border-radius: 5px;
}
QCheckBox::indicator {
    border: 1px solid #16ffffff;
    color:white;
    width: 15px;
    height: 15px;

    border-radius: 5px;
}
QCheckBox::indicator::unchecked {
    background-color: #1d1f29;
}
QCheckBox::indicator::checked {
    background-color: #ff9d1c;
    border: 1px solid #ffffffff;
    color: white;
    image: url(./assets/sample.svg);
}

QGroupBox {
    border-radius: 16px;
    border: 1px solid #16ffffff;
    background-color: #09ffffff;
}

QGroupBox#checkGroup {
    background-color: #1d1f29;
}